html {
	height: 100%;
}

body {
  /* iosの長押し無効 */
   -webkit-touch-callout: none;
   /* 文字サイズの自動調整 */
   -webkit-text-size-adjust: none;
   /* 文字の選択不可 */
   -webkit-user-select: none;

	height: 100%;

  background-color: #5cbfd8;
  /* フォント指定 */
  /*font-family: "";*/
}

.container { 
	height: 100%;
    /* 要素に対してグリッドコンテナを指定 */
    display: grid;
    /* 行を指定 */
    grid-template-columns: 1fr 1fr;
    /* 行と列の間隔を指定 */
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
         "areaA areaA"
         "areaB areaC"
         "areaD areaE";
} 

/* コンテナ */
.container {
   
}

/* コンテナ内のdiv全部 */
.container > div {
   padding: 1em;
   color: #ffffff;
}

/* 残高 */
.result{
   grid-area: areaA;

   background-color: #5cbfd8;
   padding: 1em;
   color: #ffffff;
}

/* 単位表示 */
#coin_unit {
   font-size: 24px;
   background-color: #f39832;
   padding: 3%;
   /* 影 */
   box-shadow: 2px 2px 3px 1px #666;
   -moz-box-shadow: 2px 2px 3px 1px #666;
   -webkit-box-shadow: 2px 2px 3px 1px #666;
}

/* 残高の数値 */
#coin {
   font-size: 30px;
   background-color: #f39832;
   width: 50%;
   height: 50%;
   border: none;
}


/* 送金 */
.send_coin { 
   grid-area: areaB;
}

/* 取引 */
.transaction { 
   grid-area: areaC; 
} 

/* 設定 */
.setting { 
   grid-area: areaD;
}

/* 通知 */
.notification { 
   grid-area: areaE; 
} 

/* 遷移ボタン */
#soukin, #torihiki, #settei, #tuuti{
   font-size: 35px;
   width: 99%;
   height: 99%;
   border: none;
   border-bottom: 1px solid black;
   background-color: white;

   box-shadow: 2px 2px 3px 1px #666;
   -moz-box-shadow: 2px 2px 3px 1px #666;
   -webkit-box-shadow: 2px 2px 3px 1px #666;
}


p {
	font-size: 32px;
	text-align: center;
  color: #000000;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
         background-position:left center;
         padding:75px 0px 75px 170px;   /* padding-top + padding-bottom + text area = image height */
         margin:-90px 0px 0px -198px;   /* offset vertical: half of image height */
                                       /* offset horizontal: half of image width and text area width */
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
