html {
    height: 100%;
}

body {
   /* iosの長押し無効 */
   -webkit-touch-callout: none;
   /* 文字サイズの自動調整 */
   -webkit-text-size-adjust: none;
   /* 文字の選択不可 */
   -webkit-user-select: none;

    height: 100%;

    background-color: #f0f0f0;

    /* フォント指定 */
    /*font-family: "";*/
}

/* コンテナ */
.container { 
    height: 100%;
    /* 要素に対してグリッドコンテナを指定 */
    display: grid;
    /* 行を指定 */
    grid-template-columns: 1fr 1fr;
    /* 行と列の間隔を指定 */
    grid-template-rows:0.5fr 2fr 1fr 1fr;
    grid-template-areas:
         "areaA areaA"
         "areaB areaB"
         "areaC areaD"
         "areaE areaF";
} 

/*メニュー表示*/
.menu {
   grid-area: areaA;

   background: linear-gradient(#05FBFF, #1E00FF);

   height: 100%;
}

/*メニュー*/
#view_menu {
   font-size: 24px;
   color: #ffffff;
   
   text-align: left;
   border: none;


}

/*ユーザ名表示*/
#user_name {
   font-size: 20px;
   color: #ffffff;
   
   text-align: right;
   border: none; 
}


/* ユーザ検索 */
.search_user{
    height: 20%;
    text-align: center;
    border: 1px solid red;
}
/* 検索欄 */
#name {

}
/* 検索ボタン */
#serch {

}

/* 検索したアカウントの表示 */
.view_user{
    height: 40%;
    overflow:scroll;
    border: red 1px dashed;
    width: 60%;
    text-align: center;
    padding-top: 1%;
    border: 1px solid black;
    background-color: aliceblue;
    display: inline-block;
}

/* なんか */
.null{
    height: 70%;
    width: 20%;
    /* border: 1px solid blue; */
    float: left;
}


/*基本は余白なし*/
* { 
   margin: 0px; 
   padding: 0px; 
}