*{
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
  /* iosの長押し無効 */
   -webkit-touch-callout: none;
   /* 文字サイズの自動調整 */
   -webkit-text-size-adjust: none;
   /* 文字の選択不可 */
   -webkit-user-select: none;

	height: 100%;

  background-color: #ffffff;

  /* フォント指定 */
  /*font-family: "";*/
}

/* コンテナ */
.container {
	height: 100%;
    /* 要素に対してグリッドコンテナを指定 */
    display: grid;

    /* 行と列の間隔を指定 */
    grid-template-rows: 0.25fr 0.6fr 3.4fr;
    grid-template-areas:
         "areaA"
         "areaB"
         "areaC";
}

/* メニュー表示 */
header{
    grid-area: areaA;

    height: 100%;

    background-color: #23d100;

    font-weight: 800;

    border-bottom: medium solid #e0e0e0;

    font-size: 6vw;
    color: #ffffff;

    text-align: left;

    padding-left: 2%;
}

.search{
  grid-area: areaB;

  height: 100%;

  background-color: #ffffff;

  text-align: center;

  margin-top: 5%;
}

#text , #search_btn{
  height: 50%;

  background-color: #f3f3f3;

  border: none;
  border-radius: 15px;

  text-align: center;
}

#text{

}

#search_btn{
	width: 15%;

	background-color: #008BD1;

	color: #ffffff;
}

.message{
	grid-area: areaC;

	background-color: #ffffff;

	text-align: center;

	overflow: scroll;

}

#notice{
	height: 15%;

	width: 60%;

	background-color: #f3f3f3;

	margin-bottom: 2%;

	border: none;
	border-radius: 10%;
}

.modal{
	display: none;
	height: 40%;
	width: 60%;

	margin-top: 40%;
	margin-left: 20%;
	position: fixed;
	background-color: red;
	z-index: 1;
}
